In [ ]:
# Proses mendapatkan data test dari unique sentence train data

In [10]:
import pandas as pd
import numpy as np

In [11]:
dataset_path = './dataset/ner_drone_train_2.csv'
dataset = pd.read_csv(dataset_path, encoding= 'unicode_escape')
dataset.shape

(3678, 3)

In [12]:
# let's create a new column called "sentence" which groups the words by sentence 
dataset['sentence'] = dataset[['sentence_idx','word','tag']].groupby(['sentence_idx'])['word'].transform(lambda x: ' '.join(x))
# let's also create a new column called "word_labels" which groups the tags by sentence 
dataset['word_labels'] = dataset[['sentence_idx','word','tag']].groupby(['sentence_idx'])['tag'].transform(lambda x: ','.join(x))
dataset.head()

   sentence_idx    word    tag    sentence  word_labels
0             1  Taking  B-ACT  Taking Off  B-ACT,I-ACT
1             1     Off  I-ACT  Taking Off  B-ACT,I-ACT
2             2  Taking  B-ACT  Taking Off  B-ACT,I-ACT
3             2     Off  I-ACT  Taking Off  B-ACT,I-ACT
4             3  Taking  B-ACT  Taking Off  B-ACT,I-ACT

In [13]:
data_test = dataset[["sentence", "word_labels"]].drop_duplicates().reset_index(drop=True)
data_test.head()

,sentence,word_labels
0,Taking Off,"B-ACT,I-ACT"
1,Home Point Recorded RTH Altitude 30m,"O,O,O,B-ACT,O,O"
2,Camera Settings Adjusted to ActiveTrack,"B-CMP,B-FNC,O,O,O"
3,Your palm is too far away from the aircraft Pl...,"O,O,O,O,O,O,O,O,B-CMP,O,O,O"
4,Your palm is too close to the aircraft Please ...,"O,O,O,O,O,O,O,B-CMP,O,O,O,O"

In [14]:
data_test.shape

(101, 2)

In [15]:
print(data_test.loc[98, 'sentence'])
print(data_test.loc[98, 'word_labels'])

Forward Obstacle Sensing not Responding
O,B-FNC,I-FNC,O,O

In [16]:
data_test

,sentence,word_labels
0,Taking Off,"B-ACT,I-ACT"
1,Home Point Recorded RTH Altitude 30m,"O,O,O,B-ACT,O,O"
2,Camera Settings Adjusted to ActiveTrack,"B-CMP,B-FNC,O,O,O"
3,Your palm is too far away from the aircraft Pl...,"O,O,O,O,O,O,O,O,B-CMP,O,O,O"
4,Your palm is too close to the aircraft Please ...,"O,O,O,O,O,O,O,B-CMP,O,O,O,O"
...,...,...
96,Aircraft is returning to the Home Point Minimu...,"B-CMP,O,O,O,O,O,O,O,B-ACT,O,O,O,O,O,O,O,B-ACT,..."
97,Locating Landing Point,"O,B-ACT,O"
98,Forward Obstacle Sensing not Responding,"O,B-FNC,I-FNC,O,O"
99,Compass Redundancy Switch,"B-CMP,O,O"
100,Aircraft is returning to the Home Point Minimu...,"B-CMP,O,O,O,O,O,O,O,B-ACT,O,O,O,O,O,O,B-ACT,O,..."

In [21]:
def buildDataFrame(groupedData):
  word_list = []
  tag_list = []
  sentence_list = []
  for sentence in range(0, groupedData.shape[0]):
    words = groupedData.loc[sentence, 'sentence'].split()
    tags = groupedData.loc[sentence, 'word_labels'].split(',')
    sentence_array = [sentence + 1] * len(words)
    sentence_list = sentence_list + sentence_array
    word_list = word_list + words
    tag_list = tag_list + tags
    # print(sentence_list, word_list, tag_list)
    if(len(words) != len(tags)):
      print(groupedData.loc[sentence])
    # print(len(sentence_list))
    # print(len(word_list))
    # print(len(tag_list))
  dataFrame = pd.DataFrame({'sentence_idx': sentence_list, 'sentence': word_list, 'word_labels': tag_list})
  # return sentence_list, word_list, tag_list
  return dataFrame

In [22]:
data_test_word = buildDataFrame(data_test)
data_test_word

     sentence_idx    sentence word_labels
0               1      Taking       B-ACT
1               1         Off       I-ACT
2               2        Home           O
3               2       Point           O
4               2    Recorded           O
..            ...         ...         ...
853           101  Controller       B-CMP
854           101    Settings       B-FNC
855           101       after           O
856           101  cancelling           O
857           101         RTH       B-ACT

[858 rows x 3 columns]

In [23]:
data_test_word.to_csv('./dataset/ner_drone_test_2.csv', index=False)